* {
    margin: 0 auto;
    padding: 0;
}

/* ----- HEADER ----- */
header {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

header main {
    background: url(../images/seamlessbg.jpg);
    position: relative;
    align-items: center;
}

main #text {
    color: white;
    font-family: 'Cemong';
    margin-top: -250px;
    z-index: 2;
}

main #text h1 {
    /* color: #393434; */
    color: white;
    font-size: 10rem;
    max-width: 761px;
    margin: 0;
    font-weight: 100;
}

header main #text h1:after {
    display: block;
    font-size: 3.5rem;
    content: "Awakening";
    text-align: right;
}

main #text p {
    max-width: 781px;
    color: white;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    margin: 60px 0px 45px 0px;
}

main img {
    width: 760px;
}

header main button {
    height: 150px;
    width: 150px;
}

header main #download {
    height: 120px;
    width: 400px;
    border: 2px solid #707070;
    border-radius: 30px;
    background-color: rgba(67, 57, 57, 0.75);
    font-size: 62px;
    font-family: 'Cemong';
    float: right;
    display: none;
}

header main #download a {
    text-decoration: none;
    color: white;
}

header main #download:hover {
    background-color: rgba(85, 74, 74, 0.75);
    cursor: pointer;
}

#overlay {
    width: 100%;
    background: url(../images/shadow_above.png) 0 0 no-repeat / cover;
    position: absolute;
    bottom: 0;
    height: 640px;
}

/* ----- ABOUT ----- */
#about {
    height: 80vh;
}

#about h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    font-weight: 100;
    font-family: 'Cemong';
    background-color: black;
    text-align: center;
}

#about main {
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
}

#about main img {
    width: 100%;
}

#about main h1 {
    color: white;
    font-size: 5rem;
    max-width: 875px;
    margin: 0;
    font-weight: 100;
}

#about main p {
    font-size: 1.75rem;
    max-width: 875px;
    margin: 20px 0;
    font-weight: 200;
    text-align: center;
}

#about main #text {
    margin-top: 0;
}

#overlay_bottom {
    width: 100%;
    background: url(../images/shadow_below2.png) 0 0 no-repeat / cover;
    position: absolute;
    height: 80%;
}

/* ----- BANNERS ----- */
#banners {
    margin-top: 800px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/greybg.jpg);
}

.banner:nth-of-type(odd) #text {
    padding-left: 595px;
    margin-right: 80px;
    text-align: right;
}

.banner:nth-of-type(even) #text {
    padding-right: 595px;
    margin-left: 80px;
}

.banner {
    font-family: 'Cemong';
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    height: 420px;
}

.banner #text {
    position: absolute;
}

.banner h1 {
    font-size: 5rem;
    font-weight: 100;
}

.banner p {
    font-size: 1.75rem;
    margin-top: 20px;
}

/* ----- NEWS ----- */
#news {
    min-height: 630px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/greybg.jpg');
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
    
.newsHeader {
    flex: 1;
    text-align: center;
    font-family: 'Cemong';
    font-weight: 100;
    font-size: 5rem;
    margin: 0 0 55px 0;
}
    
.newsText {
    width: 400px;
}

.newsText a {
    text-decoration: none;
    color: black;
}
    
.newsImage {
    height: 240px;
    width: 400px;
    background: white;
    border: 1px solid black;
}

.newsImage img {
    width: 100%;
}

.newsItemHeader {
    font-family: 'Cemong';
    font-weight: 100;
    font-size: 1.8rem;
    margin: 15px 0 0 0;
}

.newsContent {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ----- FOOTER ----- */
footer {
    background: black;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-family: 'Cemong';
    color: #CACACA;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 25px;
}

#socials {
    font-size: 3rem;
    width: 25%;
    justify-content: space-evenly;
    margin-top: 25px;
}

#socials span {
    margin: 0;
    color: white;
}

footer #logo {
    width: 172px;
    margin-top: 25px;
}

#footer_nav {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
    font-size: 1.4rem;
    color: white;
}

#footer_nav a {
    text-decoration: none;
    color: inherit;
}

#footer_nav a:hover {
    text-decoration: underline;
}

footer .copyright {
    font-size: 0.75rem;
    color: white;
    padding: 25px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ----- RESPONSIVE PORTRAIT ----- */
/* Tablets */
@media only screen and (max-width: 1600px) {
    main {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
    }

    header main #text h1:after {
        font-size: 3.5rem;
    }

    header main #download {
        display: block;
        font-size: 3.6rem;
        float: none;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    main #text {
        margin-top: 0px;
    }

    main #text h1 {
        font-size: 8rem;
    }

    header main #text p {
        display: none;
    }

    #overlay {
        height: 40%;
    }

    #about h1 {
        padding-top: 50px;
    }

    #about main #text h1 {
        max-width: none;
        font-size: 3.5rem;
    }

    #about main #text p {
        font-size: 1.8rem;
        text-align: center;
        padding: 0px 70px;
    }

    #overlay_bottom {
        margin-top: 685px;
    }

    #banners {
        margin-top: 0px;
        padding-top: 200px;
        background: black;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    .banner h1 {
        font-size: 3.75rem;
    }

    .banner p {
        font-size: 2rem;
    }

    .banner:nth-of-type(odd) #text {
        padding: 20px;
        margin-right: 0px;
        text-align: center;
    }

    .banner:nth-of-type(even) #text {
        padding: 20px;
        margin-left: 0px;
        text-align: center;
    }

    #news {
        padding-top: 400px;
    }

    .newsItem {
        margin-bottom: 30px;
    }

    .newsHeader {
        font-size: 4rem;
        margin: 0 0 30px 0;
    }

    .newsText {
        max-width: 350px;
        text-align: center;
        padding: 0px 20px;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    #socials {
        width: 90%;
    }

    footer .copyright {
        text-align: center;
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 768px) {
    main #text h1 {
        font-size: 6rem;
    }

    main img {
        width: 500px;
    }

    header main #text h1:after {
        font-size: 2.5rem;
    }

    header main #download {
        font-size: 2.6rem;
    }
}

/* Smartphones */
@media only screen and (max-width: 432px) {
    html, body {
        overflow-x: hidden;
    }

    main {
        flex-direction: column-reverse;
    }

    header main #text h1:after {
        font-size: 1.5rem;
    }

    header main #download {
        display: block;
        width: 180px;
        height: 40px;
        font-size: 1.6rem;
        float: none;
        margin-top: 60px;
        margin-bottom: 50px;
    }


    /* -- Removes gap on some phones */
    @supports (-webkit-appearance:none) {
        header {
            height: calc(100vh - 120px);
        }
    }

    main img {
        width: 400px;
    }

    main #text {
        margin-top: 0px;
    }

    main #text h1 {
        font-size: 3.6rem;
    }

    header main #text p {
        display: none;
    }

    #overlay {
        height: 30%;
    }

    #about h1 {
        padding-top: 100px;
        font-size: 4rem;
    }

    #about main #text h1 {
        font-size: 2rem;
    }

    #about main #text p {
        font-size: 1rem;
        text-align: center;
        padding: 0px 25px;
    }

    #overlay_bottom {
        margin-top: 500px;
    }

    #banners {
        margin-top: 0px;
        padding-top: 200px;
        background: black;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .banner:nth-of-type(odd) #text {
        padding: 20px;
        margin-right: 0px;
        text-align: center;
    }

    .banner:nth-of-type(even) #text {
        padding: 20px;
        margin-left: 0px;
        text-align: center;
    }

    #news {
        padding-top: 300px;
    }

    .newsItem {
        margin-bottom: 30px;
    }

    .newsHeader {
        font-size: 4rem;
        margin: 0 0 30px 0;
    }

    .newsImage {
        width: 300px;
        height: auto;
    }

    .newsText {
        max-width: 350px;
        text-align: center;
        padding: 0px 20px;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    #socials {
        width: 90%;
    }

    footer .copyright {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 320px) {
    main img {
        width: 300px;
    }

    #overlay {
        height: 40%;
    }

    #about main #text p {
        padding: 0px 25px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1.0rem;
    }

    .newsItemHeader {
        font-size: 1.5rem;
    }

    .newsContent {
        font-size: 0.6rem;
    }
}

/* ----- RESPONSIVE LANDSCAPE ----- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) { 

    main img {
        width: 600px;
    }

    main #text {
        margin-top: 0;
    }

    main #text p {
        display: none;
    }

    #about main h1 {
        font-size: 3.5rem;
    }

    #about main #text p {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .banner h1 {
        font-size: 3.5rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    #overlay {
        height: 500px;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) { 

    main {
        flex-direction: row;
    }

    main img {
        width: 300px;
    }

    #about main img {
        width: 100%;
        height: 100%;
    }

    #about main #image {
        width: 50%;
        height: 200px;
    }

    #about main #text h1 {
        font-size: 2.5rem;
    }

    main #text h1 {
        font-size: 4rem;
    }

    /* -- Removes gap on some phones */
    @supports (-webkit-appearance:none) {
        header {
            height: calc(100vh - 40px);
        }
    }

    header main #text h1:after {
        font-size: 1.8rem;
    }
    
    main #text {
        margin-top: 0;
    }

    main #text p {
        display: none;
    }

    header main #download {
        height: 60px;
        width: 200px;
        font-size: 1.6rem;
    }

    #overlay {
        height: 200px;
    }

    #banners {
        padding-top: 250px;
    }

    .banner h1 {
        font-size: 1.75rem;
    }

    .banner p {
        font-size: 1rem;
    }

    #overlay_bottom {
        margin-top: 425px;
    }

    .newsImage {
        height: 180px;
        width: 300px;
    }

    footer .copyright {
        font-size: 0.8rem;
    }
}