* {
    margin: 0 auto;
    padding: 0;
}

/* ----- HEADER ----- */
header {
    height: 100vh;
}

nav {
    height: 60px;
    border: 1px solid black;
    align-items: center;
    display: none;
    width: 100%;
}

nav h1 {
    font-family: 'Cemong';
    font-size: 2.4rem;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

header main {
    background: url(../images/bgpatroon.png);
    position: relative;
    align-items: center;
}

main #text {
    color: white;
    font-family: 'Cemong';
    margin-top: -250px;
    z-index: 2;
}

main #text h1 {
    color: #393434;
    font-size: 10rem;
    max-width: 761px;
    margin: 0;
    font-weight: 100;
}

header main #text h1:after {
    display: block;
    font-size: 3.5rem;
    content: "Awakening";
    text-align: right;
}

main #text p {
    max-width: 781px;
    color: white;
    font-size: 2.3rem;
    text-align: left;
    margin: 0;
    margin: 60px 0px 45px 0px;
}

main img {
    width: 760px;
}

header main button {
    height: 150px;
    width: 150px;
}

header main #download {
    height: 120px;
    width: 400px;
    border: 2px solid #707070;
    border-radius: 30px;
    background-color: rgba(67, 57, 57, 0.75);
    font-size: 62px;
    font-family: 'Cemong';
    float: right;
    display: none;
}

header main #download a {
    text-decoration: none;
    color: white;
}

header main #download:hover {
    background-color: rgba(85, 74, 74, 0.75);
    cursor: pointer;
}

#overlay {
    width: 100%;
    background: url(../images/shadow_above.png) 0 0 no-repeat / cover;
    position: absolute;
    bottom: 0;
    height: 640px;
}

/* ----- ABOUT ----- */

#about {
    height: 80vh;
}

#about h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    font-weight: 100;
    font-family: 'Cemong';
    background-color: black;
    text-align: center;
}

#about main {
    background-color: black;
    align-items: center;
}

#about main h1 {
    color: white;
    font-size: 5rem;
    max-width: 875px;
    margin: 0;
    font-weight: 100;
}

#about main p {
    font-size: 2.4rem;
    max-width: 875px;
    margin: 20px 0;
    font-weight: 100;
}

#overlay_bottom {
    width: 100%;
    background: url(../images/shadow_below.png) 0 0 no-repeat / cover;
    position: absolute;
    height: 100%;
}

/* ----- BANNERS ----- */
#banners {
    margin-top: 1000px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/greybg.jpg);
}

.banner:nth-of-type(odd) #text {
    padding-left: 595px;
    margin-right: 80px;
}

.banner:nth-of-type(even) #text {
    padding-right: 595px;
    margin-left: 80px;
}

.banner {
    font-family: 'Cemong';
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    height: 426px;
}

.banner h1 {
    font-size: 5rem;
    font-weight: 100;
}

.banner p {
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 20px;
}

/* ----- NEWS ----- */
#news {
    min-height: 630px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/greybg.jpg');
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
    
.newsHeader {
    flex: 1;
    text-align: center;
    font-family: 'Cemong';
    font-weight: 100;
    font-size: 5rem;
    margin: 0 0 55px 0;
}
    
.newsText {
    width: 400px;
}

.newsText a {
    text-decoration: none;
    color: black;
}
    
.newsImage {
    height: 240px;
    width: 400px;
    background: white;
    border: 1px solid black;
}

.newsImage img {
    width: 100%;
    height: 100%;
}

.newsItemHeader {
    font-family: 'Cemong';
    font-weight: 100;
    font-size: 1.8rem;
    margin: 15px 0 0 0;
}

.newsContent {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ----- FOOTER ----- */
footer {
    background: black;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-family: 'Cemong';
    color: #CACACA;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 25px;
}

#socials {
    font-size: 3rem;
    width: 25%;
    justify-content: space-evenly;
    margin-top: 25px;
}

#socials span {
    margin: 0;
    color: white;
}

footer #logo {
    width: 172px;
    margin-top: 25px;
}

#footer_nav {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
    font-size: 1.4rem;
    color: white;
}

#footer_nav a {
    text-decoration: none;
    color: inherit;
}

#footer_nav a:hover {
    text-decoration: underline;
}

footer .copyright {
    font-size: 0.75rem;
    color: white;
    padding: 25px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ----- RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
    }

    main {
        flex-direction: row;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: flex;
        /* position: fixed; */
    }

    nav.responsive h1 {
        max-width: 200px;
        margin-left: 15px;
    }

    nav.responsive i {
        font-size: 1.5rem;
        margin-right: 15px;
    }

    nav.responsive ul {
        display: none;
    }

    header {
        height: 85vh;
    }

    header main #text h1:after {
        font-size: 1.5rem;
    }

    header main #download {
        display: block;
        width: 180px;
        height: 40px;
        font-size: 1.6rem;
        float: none;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    main img {
        width: 400px;
    }

    main #text {
        margin-top: 0px;
    }

    main #text h1 {
        font-size: 3.6rem;
    }

    header main #text p {
        display: none;
    }

    #overlay {
        height: 30%;
    }

    #about h1 {
        padding-top: 100px;
    }

    #about main #text h1 {
        font-size: 1.5rem;
    }

    #about main #text p {
        font-size: 0.8rem;
        text-align: center;
        padding: 0px 70px;
    }

    #overlay_bottom {
        margin-top: 685px;
    }

    #banners {
        margin-top: 0px;
        padding-top: 200px;
        background: black;
    }

    .banner h1 {
        font-size: 1.75rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    .banner:nth-of-type(odd) #text {
        padding: 20px;
        margin-right: 0px;
        text-align: center;
    }

    .banner:nth-of-type(even) #text {
        padding: 20px;
        margin-left: 0px;
        text-align: center;
    }

    #news {
        padding-top: 600px;
    }

    .newsItem {
        margin-bottom: 30px;
    }

    .newsHeader {
        font-size: 4rem;
        margin: 0 0 30px 0;
    }

    .newsImage {
        height: 250px;
        width: 350px;
    }

    .newsText {
        max-width: 350px;
        text-align: center;
        padding: 0px 20px;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    #socials {
        width: 90%;
    }

    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 414px) {
    main {
        flex-direction: column-reverse;
    }
}