.container {
    display: flex;
    padding: 140px 0px 0px 130px;
    background-image: url('../images/greybg.jpg');
}

.news {
    max-width: 1100px;
}

.news h1, .recent h1 {
    font-family: 'Cemong';
    font-size: 3rem;
    margin: 0 0 15px 0;
}

.news img {
    width: 100%;
    height: 400px;
}

.news p {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 15px 0 150px 0;
}

#back {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

#back i {
    font-size: 0.9rem;
    margin-right: 5px;
}

.recent {
    width: 360px;
}
    
.recent .recentNewsItem {
    display: flex;
    width: 100%;
    height: 130px;
    border: 1px solid black;
    background: white;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.recent .recentNewsImage {
    min-width: 120px;
    max-width: 120px;
    height: 82px;
    margin-left: 15px;
    border: 1px solid black;
}

.recent .recentNewsImage img {
    width: 100%;
    height: 100%;
}

.recent .recentNewsText {
    padding: 0px 15px;
    text-decoration: none;
}

.recent .recentNewsText a {
    text-decoration: none;
}

.recent .recentNewsText .recentNewsItemHeader {
    font-size: 1.1rem;
    color: black;
} 

@media only screen and (max-width: 1024px) {
    nav.responsive h1 {
        font-size: 2.2rem;
    }

    .container {
        padding: 0;
        display: block;
        padding: 0px 15px 0px 15px;
    }

    #back {
        font-size: 1.6rem;
    }

    #back i {
        font-size: 1.5rem;
        margin-right: 5px;
    }

    .news {
        padding: 50px 0px 50px 0px;
    }
    
    .news h1, .recent h1 {
        font-size: 3rem;
    }
    
    .news p {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }   

    .recent {
        width: 100%;
        padding-bottom: 50px;
    }

    .recent .recentNewsText {
        padding: 0px 26px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 432px) {
    nav.responsive h1 {
        font-size: 2.2rem;
    }

    .container {
        padding: 0;
        display: block;
        padding: 0px 15px 0px 15px;
    }

    #back {
        font-size: 1rem;
    }

    #back i {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    .news {
        padding: 50px 0px 50px 0px;
    }
    
    .news h1, .recent h1 {
        font-size: 2rem;
    }

    .news img {
        max-height: 140px;
    }
    
    .news p {
        font-size: 1rem;
        margin-bottom: 0px;
    }   

    .recent {
        width: 100%;
        padding-bottom: 50px;
    }

    .recent .recentNewsText {
        padding: 0px 26px;
        text-decoration: none;
    }

    .recent .recentNewsText .recentNewsItemHeader {
        font-size: 1rem;
    }
}

/* ----- RESPONSIVE LANDSCAPE ----- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) { 

    .news {
        max-width: 700px;
    }

    .news img {
        height: 280px;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 864px) 
and (orientation : landscape) { 

    .news img {
        max-height: 300px;
    }
}
