<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../web/css/main.css">
        <link rel="stylesheet" type="text/css" href="../web/css/fonts.css">
        <title>Rogue Reaper: Awakening</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <main>
                <div id="image">
                    <img src="../web/images/lily_vector.svg" alt="Lilly Vector">
                </div>
                <div id="overlay"></div>
                <div id="text">
                    <h1>ROGUE REAPER</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. At vero
                    </p>
                    <button id="download">DOWNLOAD NOW</button>
                </div>
            </main>
        </header>
        {% block main %}

        {% endblock %}
        
        {# Copyright #}
        {# {% set startYear = 2019 %} #}
        {% set currentYear = now.year %}
        {# {% set copyrightYears = startYear ~ ' - ' ~ currentYear %} #}

        {# <footer id="contact">
            <main>
                <img src="../web/images/FireRoot-logo-final-text.png">
                {# <p>&copy; {{ currentYear }} Fireroot Studios. All Rights Reserved</p> #}
            {# </main>
        </footer> #}
    </body>
</html>